.card {
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cardSmall {
  height: 10rem;
  width: 10rem;
  transition: transform 0.3s ease;
}

.cardLarge {
  height: 34rem;
  width: 20rem;
}

.cardSmall:hover {
  transform: scale(1.1);
}


@media screen and (max-width: 1024px) {
  .card {
    height: 8rem;
    width: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    height: 5rem;
    width: 5rem;
  }
}
