.card {
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cardSmall {
  height: 10rem;
  width: 10rem;
  transition: transform 0.3s ease;
}

.cardLarge {
  height: 34rem;
  width: 20rem;
}

.cardSmall:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .cardLarge {
    height: 30rem;
    width: 18rem;
  }
  .cardSmall {
    transition: transform 0.3s ease;
  }
  .cardSmall:hover {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 768px) {
  .cardLarge {
    height: 26rem;
    width: 17rem;
  }
  .cardSmall {
    height: 14rem;
    width: 14rem;
    transition: transform 0.3s ease;
  }
  .cardSmall:hover {
    transform: scale(1.1);
  }
}
