.card {
  height: 10rem;
  width: 10rem;
  /* border: 1px solid yellow; */
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardSmall {
  height: 10rem;
  width: 10rem;
}

.cardLarge {
  height: 34rem;
  /* width: 38rem; */
  width: 50rem;
}

@media screen and (max-width: 1024px) {
  .card {
    height: 8rem;
    width: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    height: 5rem;
    width: 5rem;
  }
}
