.live {
  background-color: var(--color-purple);
  position: absolute;
  top: 0px;
  left: 61%;
  height: 100vh;
  width: 62px;
}

.live h3 {
  position: absolute;
  color: var(--color-black);
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 2px;
  left: -383px;
  width: 830px;
}

/* animation */
.animate {
  animation-duration: 4s;
  animation-fill-mode: both;
}

.animate.animateInfinite {
  animation-iteration-count: infinite;
}

.animate.animateSlow {
  animation-duration: 2s;
}

/* Animations */
@keyframes slideIn {
  from {
    transform: rotate(90deg) translateX(-300px);
  }

  to {
    transform: rotate(90deg) translateX(430px);
  }
}

.slideIn {
  animation-name: slideIn;
  animation-timing-function: ease;
}
